version: 2.1

executors:
  container-runner:
    docker:
      - image: dockerregistry.logangodsey.com/toolbox:122-a6c83
    resource_class: logan/container-runner

parameters:
  server-id:
    default: ""
    type: string

jobs:
  update-server:
    executor: container-runner
    environment:
      serverValue: << pipeline.parameters.server-id >>
    steps:
      - checkout
      - run:
          name: Update Discord and Reinstall Server
          command: |
            if [ -z "$serverValue" ]; then
              echo "Error: serverValue is not set or empty."
              circleci step halt
            else
              sudo chmod +x ./update.sh && ./update.sh
            fi
            
workflows:
  update-server:
    jobs:
      - update-server:
          context: [ SERVER_UPDATER ]
